.body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.mybtn {
    border: none;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
}

.dmbtn {
    border: none;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}